:root {

    --washr-color: #ff860b;

    --adogt-color: #318AFF;


    --hint-color1: #715EFF;
    --hint-color2: #FF6C56;
    --hint-color3: #FFDB2E;

    --dailyui-color: #ac00a7;
    --p2-color: rgba(255, 91, 91);

    --margin:20%;
    --margin-:-20%;




    --primcol: #393939;
    --seccol: #707070;
    --tercol: #C5C5C5;
    --quadcol: #F5F5F5;

}

.white{
    color: white;
}

.dark{
    color:#17191A;
}ss


.hcenter{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.vh100{
    height: 100vh;
    width: auto;
}
