@import url("tiempos.css");

.pageMargin{
    margin-left: var(--margin);
    margin-right: var(--margin);
    position: relative;
}

#projectImage{
    margin-top: 122px;
}

ul{
    margin-left: 2%;
    list-style: circle;
    line-height: inherit;
}

b{
    font-weight: 500;
}

.row{

    width:100%;
    margin: auto;
    align:center;
    /* display: inline-block; */
    margin-top: 80px;
    position: relative;
}

.notopmargin{
    margin-top: 0px;
}

.tinyrow{

    width:99%;
    margin: auto;
    align:center;
    /* display: inline-block; */
    margin-top: 40px;
    position: relative;
}

.imagerow{

    width:100%;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
    display: table;


}

.research > .imgcol{
    display: table-cell;
    vertical-align: top;
}

.imgcol > li{
    color: red;
}


.padded{
    padding: 1%;
    size:auto;
}

.col100{
    width: 100%;
}

.col33{
    width:32%;
    /* text-align: center; */
}

.col30{
    width:30%;
}

.col50{
    width:48%;
    /* text-align: center; */
}

.col25{
    width:25%;
}

.col20{
    width:18%;
}

.col9{
    width:11%;
}

.col{
    float: left;
    display: inline-block;
    position: relative;
    /* width:100%; */
    /* margin-top: 20px; */

}

.imgcol{
    display: inline-block;
    padding: 0px 10px 20px 10px;
}


.gallerycol{
    display: inline-block;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.projectHeading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;

    font-size: 30px;
    font-weight: 600;
    color: #444;
}

.heading{
    font-family: 'Tiempos',serif;
    font-size: 25px;
    font-weight: 600;
    color: #444444;

}



.subsection > .row > .heading,.subsection > .heading{
    font-size: 20px;
    margin-top: 40px;
}


.text{
    margin-top: 10px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 400;
    color: var(--seccol);
}



.projectImg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.wireframe{
    width: 100%;
    /* margin: auto; */
    text-align: center;
    padding: 1%;
}

.wireframe > img{
    padding-right: 2%;
    /* display: block; */
    margin: auto;
    margin-bottom: 10px;
    display: inline;
    /* height: 60vh;
    width: auto; */
}

.contactMe{

    padding-bottom: 50px;
}


.fullimage{



        width:166.8%;
        margin-left: -33.5%;
        /* margin-right: -12%; */
        /* margin-right: -11%; */
}

.overlaybox{
    position: fixed;
    z-index: 2;
    width: 166.8%;
    height: 100%;
    left: 0;
    background-color: #f9f9f9;
}

.quote{
    background-color: #e8f5ff;
    font-style: italic;
}

@media only screen and (max-width: 600px){

    #projectImage{
        margin-top: 80px;
    }

    .dispImg{
        display: inline-block;
        height: 80vh;
        width: auto;
    }

    ..displayrow{
        display: inline-block;
    }

    .textblock{
        width: 100% !important;
    }



    .navLogo{
        display: none;
    }

    .col{
        width: 100%;
    }

    .imgcol{
        width: 100%;
    }

    .research > .imgcol {
        display: inline-block;
        margin-top: 60px;
    }

    .seccol{
        margin-top: 60px;
    }

    .wireframe img{
        width: 60vw;
    }

}
