@import url("base.css");
@import url("circular-std.css");

/*-------- Global --------*/
*{
    -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;

    font-size: 100%;
}

.clearfix::after{
    display: table;
    clear: both;

    content: "";
}

html{
    color: #2f3640;

    font-family: 'CircularStd', sans-serif;
    font-weight: 500;
}

body{
    /* background-size: 311px 311px;
    background-repeat: no-repeat;
    background-position: top; */
    background-color: #ffffff;



}


.hcenter{
    position: relative;
    left: 50%;

    transform: translateX(-50%);
}


.blue{
    color: #027BFF;
}

a, a:link, a:visited, a:active, a:hover{
    text-decoration: none;
}

h1{
    font-size: 40px;
    font-weight: 400;
}

h2{
    font-size: 35px;
    font-weight: 400;
}


h5{
    margin-top: 10px;

    font-family: 'Circular Std Book', sans-serif;
    font-size: 20px;

}

p{
    margin-top: 4px;

    opacity: 0.8;
    color: #8F9EA5;

    font-size: 20px;
    font-weight: 100;
}



ul{
    margin-top: 30px;

    list-style: none;

    line-height: 30px;
}

b{
    font-weight: 600;
}


.scroll{
    position: absolute;
    right: 0%;
    bottom: 5%;
    left: 0%;

    margin: auto;

}


.rotate{
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.bgimage{
    position: absolute;
    top:20%;
    left:50px;
}

/*-------- Nav --------*/
.nav{
    display: flex;
    align-items: center;

    height: 122px;
}


.navLinks{margin-right:0;
    margin-left:auto;

    text-align: right;
}

.navLinks a, .navLogo a, .hamburger{
    display: inline-block;

    vertical-align: middle;
}

.navLinks a{
    margin-left: 21px;

    text-decoration: none;

    color: var(--tercol);

    font-size: 20px;
    font-weight: 400;

}

.navLogo a{
    text-decoration: none;

    color: var(--primcol);

    font-size: 22px;
    font-weight: 600;
}

.hamburger {
    position: fixed;
    z-index:3;
    right:10%;

    display:none;

    cursor: pointer;
    text-align: right;

}

.bar1, .bar2, .bar3 {
    width: 26px;
    height: 3px;
    margin: 6px 0;

    transition: 0.4s;

    background-color: var(--tercol);
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 5px);
    transform: rotate(-45deg) translate(-4px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*-------- Landing --------*/
.page1{position: relative;display: block;height: 97.5vh;min-height: 380px;margin-right: 15%;/* width: 60%; */margin-left: 15%;background-size: auto;}

.center{
    position: absolute;
    top:50%;
    left: 50%;

    width: 100%;
    margin: auto;

    transform: translate(-50%,-50%);
}


.landingWrapper{
    position: relative;
    top:20%;

    width: 75%;
    margin-right:auto;
    margin-left:0;

    text-align: left;

}

.landingHeading{
    color: var(--primcol);

    font-size: 50px;
    font-weight: 600;
}

.landingText{
    color: var(--seccol);

    font-size: 20px;
    font-weight: 450;
    /* line-height: 35px; */
}

.landingLinks{
    margin-top: 23px;
}

.landingLinks a{
    margin-right: 40px;

    text-decoration: none;

    color: var(--tercol);

    font-size: 15px;
    font-weight: 500;
}

.landingLinks a:hover{
    color: var(--washr-color);
}



/* --------------------Portfolio--------------------*/

.mountainbg{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%230002cb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2300259e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23002faa' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%230017cc' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%230054e7' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%230002cb' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%230048cb' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%230000cb' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%230006c8' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23001bcf' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23000c65' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23001dad' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    /* background-size: cover; */
}


.isobg{
    background-color: #ffffff;
    background-color: #ffffff;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1000 1000'%3E%3Cdefs%3E%3CradialGradient id='a' cx='500' cy='500' r='100%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='500' cy='500' r='20%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff' stop-opacity='1'/%3E%3Cstop offset='1' stop-color='%23ffffff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1000' height='1000'/%3E%3Cg fill='none' stroke='%230040ff' stroke-width='2.9' stroke-miterlimit='10' %3E%3Ccircle cx='500' cy='500' r='725'/%3E%3Ccircle cx='500' cy='500' r='700'/%3E%3Ccircle cx='500' cy='500' r='675'/%3E%3Ccircle cx='500' cy='500' r='650'/%3E%3Ccircle cx='500' cy='500' r='625'/%3E%3Ccircle cx='500' cy='500' r='600'/%3E%3Ccircle cx='500' cy='500' r='575'/%3E%3Ccircle cx='500' cy='500' r='550'/%3E%3Ccircle cx='500' cy='500' r='525'/%3E%3Ccircle cx='500' cy='500' r='500'/%3E%3Ccircle cx='500' cy='500' r='475'/%3E%3Ccircle cx='500' cy='500' r='450'/%3E%3Ccircle cx='500' cy='500' r='425'/%3E%3Ccircle cx='500' cy='500' r='400'/%3E%3Ccircle cx='500' cy='500' r='375'/%3E%3Ccircle cx='500' cy='500' r='350'/%3E%3Ccircle cx='500' cy='500' r='325'/%3E%3Ccircle cx='500' cy='500' r='300'/%3E%3Ccircle cx='500' cy='500' r='275'/%3E%3Ccircle cx='500' cy='500' r='250'/%3E%3Ccircle cx='500' cy='500' r='225'/%3E%3Ccircle cx='500' cy='500' r='200'/%3E%3Ccircle cx='500' cy='500' r='175'/%3E%3Ccircle cx='500' cy='500' r='150'/%3E%3Ccircle cx='500' cy='500' r='125'/%3E%3Ccircle cx='500' cy='500' r='100'/%3E%3Ccircle cx='500' cy='500' r='75'/%3E%3Ccircle cx='500' cy='500' r='50'/%3E%3Ccircle cx='500' cy='500' r='25'/%3E%3C/g%3E%3Crect fill='url(%23b)' width='1000' height='1000'/%3E %3C/svg%3E");
background-attachment: fixed;
background-size: cover;
/* background-size: cover; */
    /* background-size: cover; */

}






.portfolio{
    display: block;
}

.project{
    position:relative;

    display: flex;

    min-height: 400px;
    /* margin-right: 6%; */
    /* margin-left: 6%; */
    margin-bottom: 4%;

    transition: ease 0.25s;
}

.project:hover{
    transition : ease 0.5s;
    /* -webkit-transform: translate(5px,-5px);
    -moz-transform: translate(5px,-5px);
    -ms-transform: translate(5px,-5px);
    -o-transform: translate(5px,-5px); */
    transform: scale(1.01) translate(0px,-15px);

    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.30);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.30);;
    /* transform:  */

}


.project > .projectContent{
    position: absolute;
    top:50%;
    top: 50%;
    /* left: 50%; */

    width: 45%;
    margin-left: 15%;

    transform: translate(-0%,-50%);

    color: white;
}

.project > .projectContent > .projectHeading{
    font-size: 40px;
    font-weight: 600;
}

.project > .projectContent > .projectType{
    margin-top: 5px;

    color: rgba(255, 255, 255, 0.61);

    font-size: 15px;
    font-weight: 400;
}

.project > .projectContent > .projectDetails{
    margin-top: 30px;

    color: rgba(255, 255, 255);

    font-size: 20px;
    font-weight: 400;
}




.project > .projectContent > .readMore{
    display: inline-block;

    margin-top: 30px;
    margin-right: 3px;
    margin-bottom: 13px;
    padding: 8px 13px;
    padding-top: 9px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 30px;

    text-decoration: none;
    letter-spacing: 1px;

    border: 4px solid #fff;
    border-radius: 100px;
}

.project > .projectContent > .readMore:hover{
    padding-right: 48px;
    padding-left:48px;

    background-color: white;
    -webkit-box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.1);


}





.project > .projectContent > a{
    text-decoration: none;

    color: white;

    font-size: 15px;
    font-weight: 400;




}




                                            /* PROJECT 1 */



.project1{
    background-color: var(--p1-color);
    /* background-color: #DFDBE5; */
    background-image: url("../images/washrcover@2x.png");
    background-size:cover;
}


.project1 > .projectContent > .readMore:hover{
    color: var(--washr-color:);

}


.project2{
    background-color: var(--p2-color);

}

.project2 > .projectContent > .readMore:hover{
    color: var(--p2-color);
}

.project3{
    background-color: var(--p3-color);
    background-image: url("../images/dailyuicover@2x.png");
    background-size:cover;
}

.project2 > .projectContent {
    right: 0%;

    margin-right: 15%;
    margin-left: 0%;

    text-align: right;
}


.pypaint{
    background-color: var(--p1-color);
    /* background-color: #DFDBE5; */
    background-image: url("../images/PyPaint@2x.png");
    background-size:cover;
}

.certipy{
    background-color: var(--p1-color);
    /* background-color: #DFDBE5; */
    background-image: url("../images/CertiPy@2x.png");
    background-size:cover;
}

                                                    /* Contact Me */
.contactMe{
    position: relative;

    height: 300px;
    padding: 50px;

    text-align: center;

    color: #707070;
    background-color:  #f9f9f9;
}


.contactTitle{
margin-bottom: 10px;

    font-size: 30px;
font-weight: 600;
}



.contactContent a{
    display: table;

    margin: 0 auto;
    margin-bottom: 0px;

    text-decoration: none;

    color: #c5c5c5;

    font-size: 22px;
    font-weight: 400;
}

.contactContent a:hover{
    color: #5CFF00;
}

.contactContent > .activeLink{
    color: var(--primcol);
}






.codeSection{
    margin: 200px 15% 200px 15%;
    /* text-align: center; */
}

.codeSection h1{
    margin-right: 20%;
    margin-bottom: 20px;

    color: var(--seccol);

    font-size: 40px;
    font-weight: 500;
}

.codeSection a{
    text-decoration: none;

    color: var(--tercol);

    font-size: 20px;
    font-weight: 400;
}


.codeSection a:hover{
    color: #008BFF;

}


.codeProjects{
    width: 100%;
}

.codeProjects > .project{
    top: 0%;

    display: inline-block;

    width: 300px;
    height: 300px;
    min-height: 200px;
    margin: auto;
    margin-top: 50px;
    margin-right: 1%;
    margin-left: 1%;
    padding: 30px;

    text-align: center;
    vertical-align: middle;

}
.codeProjects > .project > .projectContent{
    position: relative;

    width: 100%;
    margin: 0%;
    margin: auto;
}

.shadow{
    transition: ease 0.5s;

    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.06);
}

.shadow:hover{
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}

.shadow2{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.15);
    transition: ease 1s;
}

.shadow2:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a:hover{
    transition: ease .5s;

    color: var(--primcol);
}

a{
    transition: ease .5s;
}



/* --------overlay---------- */

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    transition: 0.5s;

    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;

    width: 100%;
    margin-top: 30px;

    text-align: center;
}

.overlay a {
    display: block;

    padding: 8px;

    transition: 0.3s;
    text-decoration: none;

    color: var(--tercol);

    font-size: 36px;
}

.overlay a:hover, .overlay a:focus {
    color: var(--primcol);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;

    font-size: 60px;
}

/* ------- Responsive ------- */
@media only screen and (max-width: 600px){

    .nav{
        height: 80px;
    }
    .navLinks{
        display: none;
    }

    .navLogo{
        display: none;
    }
    .hamburger{
        display: inline-block;
    }

    .landingWrapper{
        top:15%;

        width: 100%;
    }
    .landingHeading{
        margin-bottom: 10px;

        font-size: 30px;

    }
    .landingText{
        width:80%;

        font-size: 18px;
    }

    .landingLinks{
        display: grid;
    }

    .landingLinks a{
        margin-top: 15px;
    }

    .project > .projectContent{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .project{
        margin-right: 0%;
        margin-bottom: 6%;
        margin-left: 0%;

    }
}
