/* CircularStd @font-face kit */
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/CircularStd-Black.eot');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/TiemposHeadline-Bold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/CircularStd-Medium.eot');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/tiempos/CircularStd-Book.eot');
  font-weight: 400;
  font-style: normal;
}
